html {
    font-family: monospace;
    background: rgb(3,0,52);
    background: linear-gradient(90deg, rgba(3,0,52,1) 0%, rgba(9,9,107,1) 54%, rgba(3,129,156,1) 100%);
}

body {
    font-family: monospace;
    background: rgb(3,0,52);
    background: linear-gradient(90deg, rgba(3,0,52,1) 0%, rgba(9,9,107,1) 54%, rgba(3,129,156,1) 100%);
}

.header {
    font-size: 46px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.container {
    color: aliceblue;
    text-align: center;
}

.col-left {
    display: flex;
    justify-content: left;
}

.col-right {
    display: flex;
    justify-content: right;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10ch;
}

.btn {
    width: 150px;
    font-size: 20px;
    margin-left: 5ch;
    margin-right: 5ch;
}

.img {
    border-radius: 30px;
    max-width: 80ch;
    height: 40ch;
}

.row {
    padding-bottom: 10ch;
}

.description {
    margin: 0%;
}

#animate-container {
    position: relative;
}

#animate-left{
    position: absolute;
}

#animate-right {
    position: absolute;
}