html {
    background: rgb(3,0,52);
    background: linear-gradient(90deg, rgba(3,0,52,1) 0%, rgba(9,9,107,1) 54%, rgba(3,129,156,1) 100%);
}

body {
    background: rgb(3,0,52);
    background: linear-gradient(90deg, rgba(3,0,52,1) 0%, rgba(9,9,107,1) 54%, rgba(3,129,156,1) 100%);
}

.header {
    display: flex;
    justify-content: center;
    color: aliceblue;
}


.btn-container {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 150px;
}
